extends ../layouts/default.jade

block content
  style
    | form * {margin-bottom: 5px; max-width: 300px; display: block;}

  .l-submain
    .l-submain-h.g-html
      h1 Авторизация
      p Не зарегистрированы? 
        a(href='/register') Жмите сюда.
      form(role="form" action="/auth/login" method="post")
        +error(errors)
        input(type="text" name="identifier" placeholder="Username or Email" value=form.identifier)
        input(type="password" name="password" placeholder="Password" value=form.password)
        button(type="submit").g-btn.type_default.size_small Войти