extends ../layouts/default.jade

block postHead
  style
    | form * {margin-bottom: 5px; max-width: 300px; display: block;}

block content
  h1 Регистрация (бета)
  p.comment Пока что без капчи, проверки на одинаковость паролей, без всяких красиваостей и прочего.
  p Уже зарегистрированы? 
    a(href='/login') Жмите сюда.
  form(role="form" action="/auth/register" method="post")
    for error in errors
      +error(error)
    input(type="text" name="username" placeholder="Username" value=form.username)
    input(type="text" name="email" placeholder="Email" value=form.email)
    input(type="password" name="password" placeholder="Password" value=form.password)
    button(type="submit").g-btn.type_default.size_small Регистрация