include ../mixins/global.jade

mixin breadcrumbs(list)
  if list
    each item, i in list
      if i === list.length - 1
        span.g-breadcrumbs-item #{item.name}
      else
        a.g-breadcrumbs-item(href=item.href) #{item.name}
        span.g-breadcrumbs-separator &raquo;



doctype
html
  head
    include ./parts/_head.jade
    block postHead

  body
    //- canvas
    block canvas
      .l-canvas.type_wide.col_cont.headerpos_fixed
        .l-canvas-h

          //- header
          .l-header
            .l-header-h
              .l-subheader.at_middle
                .l-subheader-h.i-cf

                  //- logo
                  include ./parts/logo.jade
                  //- 
                  
                  //- nav
                  include ./parts/navigation.jade
                  //- 
          //- eo header

          //- main
          .l-main
            .l-main-h
              //- pagehead
              .l-submain.for_pagehead
                .l-submain-h.g-html.i-cf
                  .w-pagehead
                    h1
                      block pageHead
                    p
                      block pageHead_small
                    //- breadcrums
                    .g-breadcrumbs
                      block breadcrumbs
              //- page
              .l-submain
                .l-submain-h.g-html
                  .content
                    block content
          //- 
    //- eo canvas

    //- footer
    .l-footer
      .l-footer-h
        .l-subfooter.at_bottom
          .l-subfooter-h.i-cf
            .w-copyright
              - var year = (new Date()).getUTCFullYear();
              |© 2014 - #{year} <a href="/">Бложик с подзаголовком</a> (v-0.9)
            //- metrika
            //- .metrika.not-mobile(style='float: right; height: 0px; margin-top: -5px;')
              include ./parts/metrika.jade
            //- 
    //- eo footer

    //- goto top
    a(class="w-toplink", href="#")
      i.fa.fa-angle-up
    //- eo goto top

    //- чтобы глаза мои тебя не видели! :D
    div(style='display: none;')
      block afterAll
