extends ./layouts/default.jade

block content
  .page-404
    i.fa.fa-user-secret
    h1.
      Ошибка 403 - недостаточно прав

    if (typeof errors !== 'undefined')
      pre.error
        code
          - _.each(errors, function (error) {
            = error
          - });
    p.no-m
      | Скорее всего вы просто не авторизированы. 
      a(href='/auth') Сраница авторизации
      | .
    p.no-m
      | Если ошибка останется, пожалуйста, опишите, как вы ее получили. 
      a(href='/about') Страница с контактами
      | .