extends ./layouts/default.jade

block content
  .page-404
    i.fa.fa-compass
    h1.
      Ошибка 404 - страница не найдена
    p
      | Пожалуйста, опишите как вы попали на данную страницу. 
      a(href='/about') Страница с контактами
      | .
