extends ./layouts/default.jade

block content
  .l-submain
    .l-submain-h.g-html
      .page-404
        i.fa.fa-compass
        h1.
          Ошибка 404 - страница не найдена
        p.
          Наш серверный Гном выбился из сил, разыскивая её, но так и не преуспел в своих начинаниях...
