extends ./layouts/default.jade

block content
  .page-404
    i.fa.fa-power-off
    h1
      | Ошибка 500 - Поздравляю! Вы поломали сервер.

    if (typeof errors !== 'undefined')
      pre.error
        code
          - _.each(errors, function (error) {
            = error
          - });
    p
      | Пожалуйста, опишите как вы получили данную ошибку. 
      a(href='/about') Страница с контактами
      | .
