extends ./layouts/default.jade

block content
  h1 Описание проекта
  p Здравствуйте, я - автор данного сайта.
  p Делаю его в качестве хобби, в свободное от работы время.
  p С фантазией у меня сильно плохо, увы, так что прошу Вас отправлять любые предложения мне.
  p Реализовать их (скорее всего) не составит труда.
  h4 Мои контакты:
  ul 
    li Почта: 
      a(href='mailto:nobody.roman@gmail.com') nobody.roman@gmail.com 
    li Вконтакте: 
      a(href='https://vk.com/r_rar' target='_blank') Демещенко Роман 
  h4 Монетизация
  p Тут будет модуль, собирающий пожертвования на сайт, когда я его прикручу :)