extends ./layouts/default.jade



block pageHead
  h1 О проекте
block pageHead_small
block breadcrumbs
  +breadcrumbs([
      {name:'Главная', href:'/'},
      {name:'О проекте', href:'/about'},
    ])


block content
  p.mb-10
    | Я - автор данного сайта.
    br
    | Делаю его в качестве хобби, в свободное от работы время.
    br
    | С фантазией у меня плохо, так что прошу Вас писать любые предложения.
    br
    | Реализовать их (скорее всего) не составит труда.
  ul
    li
      a(href='/about/feedback') страница с обсуждением 
  h2.mb-10 Связаться лично со мной
  ul 
    li 
      a(href='mailto:nobody.roman@gmail.com') nobody.roman@gmail.com 
    li 
      a(href='https://vk.com/r_rar' target='_blank') vk.com/r_rar 
  h2.mb-10 Поддержать проект
  p Содержание сайта - не так дешево, как может показаться на первый взгляд:
  ul
    li Хостинг: $10 / месяц
    li БД: $15 / месяц
    li Доменное имя: $7 / год
    li Почтовый сервер: $20 / месяц
    li Получение данных по облигациям: $10 / месяц
    li Получение данных по акциями и ПИФам: $10 / месяц
  p Итого, в среднем, 800$ в год, что для студента - довольно большие деньги.
    br
    | Поэтому, если Вас не затруднит, 
    a(href='/about/donation') поддержите проект
    | . 
