extends ./layouts/default.jade



block pageHead
  h1 Админка
block pageHead_small
  p тут происходит магия


block content
  h4 Облигации
  if (info && info.length > 0)
    +info(info)
  ul
    li
      a(href='/adm/bonds_reparse') Репарс
    li
      a(href='/adm/bonds_cache') Обнови кэш из бд
    li
      a(href='/adm/amazon_to_client') Скачать файлы из амазона
    li
      a(href='/adm/client_to_amazon') Загрузить файлы на амазон

