extends ./layouts/default.jade

block content
  h1 Мои контакты:
  ul 
    li Почта: 
      a(href='mailto:nobody.roman@gmail.com') nobody.roman@gmail.com 
    li Вконтакте: 
      a(href='https://vk.com/r_rar' target='_blank') Демещенко Роман 