extends ./layouts/default.jade

block postHead
  script(src='/PageControllers/favorites.js')



block pageHead
  h1 #{title}
block pageHead_small
  | Обновление цен: #{nextUpdate}
block breadcrumbs
  +breadcrumbs([
      {name:'Главная', href:'/'},
      {name:'Избранное', href:'/favorites'},
    ])

block content
  #vue
