extends ./layouts/default.jade

block content
  h1 Главная страница
  p.
    Написать планы на будущее с "прогрессом" и примерными датами
  p 
    | Если у кого-то есть предложения - писать 
    a(href='/about/feedback') сюда
    | .
