extends ./layouts/default.jade


block pageHead
  h1 Профиль
block pageHead_small
block breadcrumbs
  +breadcrumbs([
      {name:'Главная', href:'/'},
      {name:'Профиль', href:'/me'},
    ])

block content
  div Информация о тебе:
    +json(req.user)
    +json(req.session)
    p #{text}
