extends ./layouts/default.jade

block postHead
  style.
    h2 .fa {font-size: 23px;}

block pageHead
  h1 Сервисы
block pageHead_small
  p Тут будет описание всех сервисов сайта
block breadcrumbs
  +breadcrumbs([
      {name:'Главная', href:'/'},
      {name:'Сервисы', href:'/services'},
    ])

block content
  h2.
    <a href='/services/bonds')><i class='fa fa-external-link'></i></a>
    Облигации 
  p.
    В настоящее время на ММВБ торгуется более 1000 облигаций.
    Слишком много, чтобы просмотреть все вручную. Именно для этого и сделан
    <a href='/services/bonds'>сервис работы с облигациями</a>:
  ul
    li создайте фильтр
    li опишите желаемые условия
      ul
        li доходность в процентах годовых
        li количество дней до погашения
        li желаемый эмитент (ОФЗ)
    li сохраните фильтр
  p.
    И в любой момент вы сможете увидеть только те облигации, которые
    интересуют именно Вас.
  p.
    В дальнейшем планируется внедрение оповещений на почту при следующих событиях:
  ul
    li выплата купона
    li погашение
    li попадание в фильтр новой облигации (зачем каждый день заходить на сайт?)
  
  h2.
    <a href='/services/shares')><i class='fa fa-external-link'></i></a>
    Акции 
  p.
    Их так же очень много на бирже. Выбрать нужные - нетривиальная задача. Чтобы ее упростить написан 
    <a href='/services/shares'>сервис работы с акциями</a>:
  ul
    li создайте фильтр
    li опишите желаемые условия
    li сохраните фильтр
  p.
    И в любой момент вы сможете увидеть только те акции, которые
    интересуют именно Вас.
  p.
    Кроме того, у любой <a href='/services/shares/gazp#!/chart'>акции</a> имеется как график цены, так и графии <a href='/services/shares/gazp#!/div'>дивидендов</a>.
