extends ./layouts/default.jade

block content
  h1 Статистика сайта
  ul 
    li Количество регистраций
    li Аналитика (уники)
    li Данные по состоянию сервера (расписание крон-а)
    li Версия
    li ...
