extends ../../layouts/default.jade

block postHead
  script(src="/bower_components/d3/d3.js")
  script(src='/bower_components/nvd3/build/nv.d3.js')

  +PasteInlineData(['tickers', tickers])
  +PasteInlineData(['googleParams', googleParams])
  script(src='/PageControllers/branch.js')
  style.





block pageHead
  h1 #{title}
block pageHead_small
  | Тут приведен список всех акций в системе
block breadcrumbs
  +breadcrumbs([
      {name:'Главная', href:'/'},
      {name:'Сервисы', href:'/services'},
      {name:'Акции', href:'/services/shares'},
      {name:title}
    ])

block content
  #vue

    