extends ../../layouts/default.jade

block postHead
  //- script(src='/Components/VueTabs.js')
  script(src='/PageControllers/sharesTickerEditor/index.js')
  +PasteInlineData(['ticker', ticker])
  +PasteInlineData(['branches', branches])
  style.


block pageHead
  h1 #{ticker.name}

block pageHead_small
  .no-select
block breadcrumbs
  +breadcrumbs([
      {name:'Главная', href:'/'},
      {name:'Сервисы', href:'/services'},
      {name:'Акции', href:'/services/shares'},
      {name:(ticker.name || ticker.ticker_code), href:'/services/shares/'+ticker.id},
      {name:'Редактирование'}
    ])

block content
  #shares_editor

