extends ../../layouts/default.jade

block postHead
  +PasteInlineData(['user', user])
  +PasteInlineData(['us', us])
  +PasteInlineData(['shares', shares])
  script(src='/PageControllers/new_shares.js' defer)
  style.





block pageHead
  h1 #{title}
block pageHead_small
  | Тут приведен список всех акций в системе
block breadcrumbs
  +breadcrumbs([
      {name:'Главная', href:'/'},
      {name:'Сервисы', href:'/services'},
      {name:title}
    ])

block content
  #vue
    