extends ../../layouts/default.jade

block postHead
  +PasteInlineData(['user', user])
  +PasteInlineData(['shares', shares])
  script(src='/PageControllers/shares.js' defer)

  link(rel="stylesheet", href="/css/MyTable.css")
  style.
    .my-table {
      width: 100% !important;
      }
      .my-table td {
        line-height: 30px;
        }
    .my-table .roundIcon {
      margin-right: 5px;
      }    
      .my-table .roundIcon {
        font-size: 14px;
        }
    .my-table .table {
      margin-top: 25px;
      }
      .my-table .table .dataTables_length {
        margin: 0px;
        }
      .my-table .table .dataTables_filter {
        display: inline;
        float: none;
        }
        .my-table .table .dataTables_filter input {
          vertical-align: baseline;
          }





block pageHead
  h1 #{title}
block pageHead_small
  | Тут приведен список всех акций в системе
block breadcrumbs
  +breadcrumbs([
      {name:'Главная', href:'/'},
      {name:'Сервисы', href:'/services'},
      {name:title}
    ])

block content
  #shares
    .my-table
      .table 
        table#table
