/*

blue: #2c3e50;
grey: #ecf0f1;

 */

/***
 *  ╔╦╗╔═╗╔╦╗╦ ╦╦  ╔═╗╔═╗
 *  ║║║║ ║ ║║║ ║║  ║╣ ╚═╗
 *  ╩ ╩╚═╝═╩╝╚═╝╩═╝╚═╝╚═╝
 */
/* pickmeup */
.pickmeup {z-index: 10000;}
.pickmeup {background: #2c3e50;}
.pickmeup .pmu-instance .pmu-selected {border-radius: 3px;}



/**
 *  ╔═╗╔╦╗╦ ╦╦  ╔═╗   ╔═╗╦  ╔═╗╔═╗╔═╗╔═╗╔═╗
 *  ╚═╗ ║ ╚╦╝║  ║╣ ===║  ║  ╠═╣╚═╗╚═╗║╣ ╚═╗
 *  ╚═╝ ╩  ╩ ╩═╝╚═╝   ╚═╝╩═╝╩ ╩╚═╝╚═╝╚═╝╚═╝
 */
.isolated {margin: 20px 0px;}
.comment {
    color: grey;
    font-style: italic;
    /* для борьбы с маржином заголовков */
    margin-top: -20px;
}


/**
 *  ╔╗ ╔═╗╔╗╔╔╦╗╔═╗
 *  ╠╩╗║ ║║║║ ║║╚═╗
 *  ╚═╝╚═╝╝╚╝═╩╝╚═╝
 */
#bonds h1 {
    margin-bottom: 0px;
}
#bonds h3 {
    margin-bottom: 0px;
}


/* top part */
.my-table .top {
    display: table;
    width: 100%
    }
    .my-table .top .additional {
        display: table-cell;
        width: calc(100% - 300px);
        }
    .my-table .top .filters-preview {
        width: 300px;
        padding: 10px;
        border: solid 1px #ccc;
        border-radius: 3px;
        display: table-cell;
        background: #ecf0f1;
        }
        .my-table .top .filters-preview ul {
            margin: 10px 0px 0px 20px;
            }
            .my-table .top .filters-preview li {
                list-style: none;
                line-height: 30px;
                vertical-align: middle;
                }
        /* иконки редактирования и удаления */
        .my-table .top .filters-preview span:first-child,
        .my-table .top .filters-preview span:last-child {
            vertical-align: middle;
            }
            .filters-preview span .fa {font-size: 18px;}
            .filters-preview-name {padding: 0px 10px;}
        .filters-preview li span {
            cursor: pointer;
            opacity: 0.5;
            }
            .filters-preview li span:hover {opacity: 0.8;}
            .filters-preview li span.selected {opacity: 1;}
        .filters-preview .selected,
        .filters-preview .selected .fa {
            color: #2c3e50 !important;
            font-weight: bold;
            }

/* editor part */
.my-table .filter-editor {
    margin-bottom: 30px;
    margin-top: 20px;
    background: #ecf0f1;
    border: solid 1px #ccc;
    border-radius: 3px;
    padding: 10px;
    }
    .my-table .filter-editor .row {
        width: 100%;
        }
        .my-table .filter-editor .row > * {display: inline-block;}
        .my-table .filter-editor .row select,
        .my-table .filter-editor .row input {
            background: #fafafa;
            border-color: #ccc;
            }
        .my-table .filter-editor .column-selector {
            width: 40%;
            margin-right: 10px;
            }
        .my-table .filter-editor .type-selector {
            width: 150px;
            margin-right: 10px;
            }
        .my-table .filter-editor .value-selector {
            width: calc(60% - 210px);
            margin-right: 10px;
            }
            .my-table .filter-editor .value-selector input {width: 100%;}
        .my-table .filter-editor .row-remover {
            opacity: 0.5;
            width: 30px;
            text-align: center;
            vertical-align: text-top;
            font-size: 30px;
            }
            .my-table .filter-editor .row-remover:hover {opacity: 0.7;}

/* bottom buttons */
.my-table .control-buttons {
    text-align: right;
    }
    .my-table .control-buttons span:not(:last-child) {
        margin-right: 10px;
        }

.my-table .block-for-transition {
    transition: all 0.3s linear;
    overflow: hidden;
    max-height: 700px;
    box-sizing: border-box;
}
.my-table .block-for-transition.expand-enter, .block-for-transition.expand-leave {
    max-height: 0;
    overflow: hidden;
    /*opacity: 0;*/
}
