/*

blue: #2c3e50;
grey: #ecf0f1; rgba(236, 240, 241, 0.99)
input-grey: #fafafa;

 */



/***
 *  ╔═╗╦  ╔═╗╔╗ ╔═╗╦  ╔═╗
 *  ║ ╦║  ║ ║╠╩╗╠═╣║  ╚═╗
 *  ╚═╝╩═╝╚═╝╚═╝╩ ╩╩═╝╚═╝
 */
/* http://stackoverflow.com/questions/3296644/hiding-the-scrollbar-on-an-html-page */
body::-webkit-scrollbar {
    display: none;
}
.l-submain {
    padding: 20px 10px;
}
#mask {
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #fff;
    }
    #mask img {
        left: calc(50% - 45px);
        top: 150px;
        height: 100px;
        position: absolute;
        }
#done {
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(255, 255, 255, 0.5);
    }
    #done img {
        left: calc(50% - 45px);
        top: calc(50% - 45px);
        height: 100px;
        position: absolute;
        }



/***
 *  ╔╦╗╔═╗╔╦╗╦ ╦╦  ╔═╗╔═╗
 *  ║║║║ ║ ║║║ ║║  ║╣ ╚═╗
 *  ╩ ╩╚═╝═╩╝╚═╝╩═╝╚═╝╚═╝
 */
/* pickmeup */
.pickmeup {z-index: 10000;}
.pickmeup {background: #2c3e50;}
.pickmeup .pmu-instance .pmu-selected {border-radius: 3px;}

/* magnific popups */
.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width:auto;
    max-width: 500px;
    margin: 20px auto;
    }
    .white-popup .row {
        margin-top: 20px;
        }
        .white-popup .row .g-btn {
            margin-right: 10px;
            }

/* datatables */
.dataTable {
    margin-bottom: 0px !important;
    }
.dataTable th {
    border: none !important;
    }

.dataTables_scroll {
    border: solid 1px #ddd;
    border-radius: 3px;
    }
.dataTables_scrollHead {
    background-color: #ecf0f1;
    border-bottom: solid 1px #ddd;
    }
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border: none;
    }

/* tooltipster */
.tooltipster-base {cursor: pointer;}
.begin-learning {
    cursor: pointer;
    font-size: 30px;
    padding: 0px 5px 0px 10px;
}

/**
 *  ╔═╗╔╦╗╦ ╦╦  ╔═╗   ╔═╗╦  ╔═╗╔═╗╔═╗╔═╗╔═╗
 *  ╚═╗ ║ ╚╦╝║  ║╣ ===║  ║  ╠═╣╚═╗╚═╗║╣ ╚═╗
 *  ╚═╝ ╩  ╩ ╩═╝╚═╝   ╚═╝╩═╝╩ ╩╚═╝╚═╝╚═╝╚═╝
 */
.isolated {margin: 0px 0px 10px 0px;}
.comment {
    color: grey;
    font-style: italic;
    /* для борьбы с маржином заголовков */
    margin-top: -20px;
}
.ib {display: inline-block;}
/* невидим для телефонов */
@media screen and (max-width: 600px) {
  .not-mobile {
    visibility: hidden;
    display: none;
  }
}



/**
 *  ╔╗ ╔═╗╔╗╔╔╦╗╔═╗
 *  ╠╩╗║ ║║║║ ║║╚═╗
 *  ╚═╝╚═╝╝╚╝═╩╝╚═╝
 */
#bonds {
    }
    #bonds h1,
    #bonds h3 {
        margin-bottom: 0px;
        }

.height-transition {
    overflow: hidden;
    max-height: calc(100vh - 232px);
    }
