/*

blue: #2c3e50;
grey: #ecf0f1; rgba(236, 240, 241, 0.99)
input-grey: #fafafa;

 */



/***
 *  ╔═╗╦  ╔═╗╔╗ ╔═╗╦  ╔═╗
 *  ║ ╦║  ║ ║╠╩╗╠═╣║  ╚═╗
 *  ╚═╝╩═╝╚═╝╚═╝╩ ╩╩═╝╚═╝
 */
/* http://stackoverflow.com/questions/3296644/hiding-the-scrollbar-on-an-html-page */
body::-webkit-scrollbar {
    display: none;
    }
.l-main {
    min-height: calc(100vh - 41px);
}

.l-submain {
    padding: 20px 10px;
    }
.w-socials-item a {
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:    inset 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow:         inset 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    }
.l-main .w-socials-item, .l-footer .w-socials-item {
    background-color: #ECF0F1;
    }

.l-subheader.at_middle .w-nav-list.level_1 {
    margin-right: -20px;
}
.l-submain.for_pagehead {
  padding: 10px 40px;
}
.l-subfooter.at_bottom {
    padding: 10px 40px;
}

.g-alert .g-alert-body {
    display: table-cell;
}

#mask {
    height: 100%;
    position: absolute;
    z-index: 99999;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #fff;
    }
    #mask img {
        left: calc(50% - 45px);
        top: 150px;
        height: 100px;
        position: absolute;
        }
#done {
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(255, 255, 255, 0.5);
    }
    #done img {
        left: calc(50% - 45px);
        top: calc(50% - 45px);
        height: 100px;
        position: absolute;
        }


.w-socials-item:hover .fa-stack-2x {opacity: 1;}
.w-socials-item .fa-stack-2x {
    font-size: 50px !important;
    opacity: 0;
    color: #C01010;
    margin-top: -2px;
    text-shadow: #000 0px 0px 10px;
    transition: all 0.2s ease;
    }



/***
 *  ╔╦╗╔═╗╔╦╗╦ ╦╦  ╔═╗╔═╗
 *  ║║║║ ║ ║║║ ║║  ║╣ ╚═╗
 *  ╩ ╩╚═╝═╩╝╚═╝╩═╝╚═╝╚═╝
 */
/* pickmeup */
.pickmeup {z-index: 10000;}
.pickmeup {background: #2c3e50;}
.pickmeup .pmu-instance .pmu-selected {border-radius: 3px;}

/* magnific popups */
.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width:auto;
    max-width: 500px;
    margin: 20px auto;
    }
    .white-popup .row {
        margin-top: 20px;
        }
        .white-popup .row .g-btn {
            margin-right: 10px;
            }

/* datatables */
.dataTable {
    margin-bottom: 0px !important;
    }
.dataTable th {
    border: none !important;
    }

.dataTables_scroll {
    border: solid 1px #ddd;
    border-radius: 3px;
    }
.dataTables_scrollHead {
    background-color: #ecf0f1;
    border-bottom: solid 1px #ddd;
    }
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border: none;
    }

/* tooltipster */
.tooltipster-base {cursor: pointer; z-index: 9999;}
.near-header:hover {opacity: 1;}
.near-header {cursor: pointer; padding: 0px 0px 0px 5px; opacity: 0.7;}
.begin-learning {
    cursor: pointer;
    padding: 0px 5px 0px 10px;
    }
.tooltipster-light {
    border-radius: 3px;
    border: 2px solid #aaa;
    background: #ecf0f1;
    color: #000;
    }
    .tooltipster-light .tooltipster-content {
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 16px;
        padding: 8px 10px;
        }

/**
 *  ╔═╗╔╦╗╦ ╦╦  ╔═╗   ╔═╗╦  ╔═╗╔═╗╔═╗╔═╗╔═╗
 *  ╚═╗ ║ ╚╦╝║  ║╣ ===║  ║  ╠═╣╚═╗╚═╗║╣ ╚═╗
 *  ╚═╝ ╩  ╩ ╩═╝╚═╝   ╚═╝╩═╝╩ ╩╚═╝╚═╝╚═╝╚═╝
 */
input.has-error {
    background-color: #F9ECEC;
    box-shadow: 0px 0px 3px 1px #E74343 !important;
}
input.fillMePls {
    box-shadow: 0px 0px 3px 1px #138132 !important;
}
/* _margin */
.no-m  {margin: 0px !important;}
.mt-10 {margin-top: 10px !important;}
.mr-10 {margin-right: 10px !important;}
.mb-10 {margin-bottom: 10px !important;}
.ml-10 {margin-left: 10px !important;}
/* _padding */
.no-p  {padding: 0px !important;}
.pt-10 {padding-top: 10px !important;}
.pr-10 {padding-right: 10px !important;}
.pb-10 {padding-bottom: 10px !important;}
.pl-10 {padding-left: 10px !important;}

.ow-h {overflow: hidden;}
.pointer {cursor: pointer;}
.ib {display: inline-block;}

.i {font-style: italic;}
.b {font-weight: bold;}

ul.no-dots>li {list-style: none;}

.no-error .error {display: none;}
.isolated {margin: 0px 0px 10px 0px;}
.comment {
    color: grey;
    font-style: italic;
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.yes-select {
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}
/* невидим для телефонов */
@media screen and (max-width: 600px) {
  .not-mobile {
    visibility: hidden;
    display: none;
  }
}
.tile {
    padding: 10px;
    border: solid 1px #CCC;
    border-radius: 3px;
    background: #ECF0F1;
    }
    .tile input {
        background-color: #FAFAFA;
        }
    .tile p:first-child {margin: 0px;}

.message {
    padding: 10px 35px 10px 10px;
    margin-bottom: 20px;
    border: solid 1px #CCC;
    border-radius: 3px;
    background: #ECF0F1;
    position: relative;
    display: inline-block;
    }
    .message p:first-child {
        margin: 0px;
        }
    .message p {
        margin: 10px 0px 0px 0px;
        line-height: 1;
        }
    .message .close:hover {
        opacity: 1;
        }
    .message .close {
        color: red;
        position: absolute;
        font-size: 20px;
        top: 8px;
        right: 10px;
        opacity: 0.7;
        cursor: pointer;
        }




/**
 *  ╔╗ ╔═╗╔╗╔╔╦╗╔═╗
 *  ╠╩╗║ ║║║║ ║║╚═╗
 *  ╚═╝╚═╝╝╚╝═╩╝╚═╝
 */
#bonds {
    }
    #bonds h1,
    #bonds h3 {
        margin-bottom: 0px;
        }

.height-transition {
    overflow: hidden;
    max-height: calc(100vh - 192px);
    }
