/**
 *  ╔╦╗┬ ┬╔╦╗┌─┐┌┐ ┬  ┌─┐
 *  ║║║└┬┘ ║ ├─┤├┴┐│  ├┤
 *  ╩ ╩ ┴  ╩ ┴ ┴└─┘┴─┘└─┘
 */
.my-table h3 {
    z-index: 1;
    position: relative;
}

/* top part */
.my-table .top {
    display: table;
    width: 100%
    }
    .my-table .top .additional {
        display: table-cell;
        width: calc(100% - 300px);
        }
    .my-table .top .filters-preview {
        width: 300px;
        padding: 10px;
        border: solid 1px #ccc;
        border-radius: 3px;
        display: table-cell;
        background: #ecf0f1;
        }
        .my-table .top .filters-preview h3 {
            line-height: 1;
            }
        .my-table .top .filters-preview ul {
            margin: 5px 0px 5px 10px;
            }
            .my-table .top .filters-preview li {
                margin-bottom: 0px;
                list-style: none;
                line-height: 30px;
                vertical-align: middle;
                }
        /* иконки редактирования и удаления */
        .my-table .top .filters-preview span:first-child,
        .my-table .top .filters-preview span:last-child {
            vertical-align: middle;
            }
            .filters-preview span .fa {font-size: 18px;}
            .filters-preview-text {padding: 0px 10px;}
        .filters-preview li span {
            cursor: pointer;
            opacity: 0.5;
            }
            .filters-preview li span:hover {opacity: 0.8;}
            .filters-preview li span.selected {opacity: 1;}
        .filters-preview .selected,
        .filters-preview .selected .fa {
            color: #2c3e50 !important;
            font-weight: bold;
            }
        .my-table .top .filters-preview .g-btn {
            margin: 0px;
            }

/* editor part */
.my-table .filter-editor {
    margin-top: 20px;
    background: #ecf0f1;
    border: solid 1px #ccc;
    border-radius: 3px;
    padding: 10px;
    position: relative;
    }
    .my-table .filter-editor h4 {
        padding: 0px;
        margin: 0px 0px 10px 0px;
        }
    .my-table .filter-editor>input {
        background-color: #fafafa;
        border-color: #ccc;
        width: 40%;
        }
    .my-table .filter-editor .row {
        width: 100%;
        }
        .my-table .filter-editor .row > * {display: inline-block;}
        .my-table .filter-editor .row select,
        .my-table .filter-editor .row input {
            background: #fafafa;
            border-color: #ccc;
            }
    .my-table .filter-editor .column-selector {
        width: 40%;
        margin-right: 10px;
        }
    .my-table .filter-editor .type-selector {
        width: 150px;
        margin-right: 10px;
        }
    .my-table .filter-editor .value-selector {
        width: calc(60% - 210px);
        margin-right: 10px;
        }
        .my-table .filter-editor .value-selector input {width: 100%;}
    .my-table .filter-editor .row-remover {
        opacity: 0.5;
        width: 30px;
        text-align: center;
        vertical-align: text-top;
        font-size: 30px;
        }
        .my-table .filter-editor .row-remover:hover {opacity: 0.7;}
    .my-table .filter-editor .control-buttons {
        /*margin-top: 30px;*/
        text-align: right;
        }
        .my-table .control-buttons span:not(:last-child) {
            margin-right: 10px;
            }

/* table styles */
.my-table .table {
    margin-top: 20px;
    }
    /* datattables */
    .my-table .table .dataTables_wrapper.no-footer {
        margin-top: -37px;
        }
        .my-table .table .dataTables_wrapper.no-footer>table {
            width: 100% !important;
            }
    .my-table .table .buy {
        display: block;
        cursor: pointer;
        }
        .my-table .table .buy .roundIcon {
            font-size: 14px;
            }
    .my-table .table td:not(.buttonColumn) {
        padding: 5px 5px 5px 15px;
        border-color: rgba(0, 0, 0, 0.04);
        }
    .my-table .table td,
    .my-table .table th {
        white-space: nowrap;
        }
    .my-table .table thead .sorting,
    .my-table .table thead .sorting_disabled,
    .my-table .table thead .sorting_asc,
    .my-table .table thead .sorting_desc {
        padding-left: 18px;
        background-position: 0px 13px;
        font-weight: 700;
        font-size: 13px;
        }
    .my-table .table .dataTables_length {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        }
        .my-table .table .dataTables_length select {
            width: inherit;
            height: 30px;
            line-height: 30px;
            padding: 3px;
            }
    .my-table .table .dataTables_filter {
        font-family: sans-serif;
        margin: 0px;
        display: inline-block;
        margin-left: 10px;
        height: 30px;
        }
        .my-table .table .dataTables_filter input {
            vertical-align: text-top;
            }
    .my-table .table .dataTables_paginate {
        padding: 0px !important;
        margin-bottom: 9px;
        text-align: right !important;
        margin-left: 20px;
        }
.my-table .block-for-transition {
    transition: all 0.15s linear;
    overflow: hidden;
    max-height: 700px;
    box-sizing: border-box;
    }
.my-table .block-for-transition.expand-enter,
.my-table .block-for-transition.expand-leave {
    max-height: 0px !important;
    overflow: hidden;
    }

@media screen and (max-width: 550px) {
    .my-table .top .additional {
        display: block;
        width: 100%;
        }
    .my-table .top .filters-preview {
        display: block;
        width: 100%;
        }
    .my-table .table .dataTables_filter {
        display: block;
        margin: 10px 1px;
        }
}

@media screen and (max-width: 800px) {
    .my-table .table .dataTables_wrapper.no-footer {
        margin-top: 10px;
        }
    .my-table .table .dataTables_paginate {
        /*text-align: left !important;*/
        float: none;
        margin: 7px 0px 7px 0px;
        }
}



.v-filter-editor .row > * {display: inline-block;}
.v-filter-editor .row .column-selector {width: calc(50% - 55px);}
.v-filter-editor .row .type-selector {width: 20%;}
.v-filter-editor .row .value-selector {width: 30%;}
.v-filter-editor .row .row-remover {
    width: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 25px;
    cursor: pointer;
}


.visible-columns {
    width: 100%;
    }
.visible-columns .left,
.visible-columns .right {
    border: solid 1px #ccc;
    min-height: 100px;
    padding: 20px;
    width: 50%;
    }
.visible-columns ul, .visible-columns li {
    list-style: none;
    margin: 0px;
    padding: 0px;
    }

/*.visible-columns li.item:hover {border-color: #bbb;}*/
.visible-columns li.item {
    padding: 3px;
    /*border: solid 1px transparent;*/
    transition: border-color .3s;
    transition: opacity .3s;
    cursor: pointer;
    position: relative;
    }
.visible-columns .left li.item {
    padding-right: 30px;
    }
.visible-columns .right li.item {
    padding-left: 30px;
    }

#body .visible-columns .sort-ghost {opacity: 0;}

.visible-columns .item {opacity: 0.6;}
.visible-columns .item:hover {opacity: 1;}

.visible-columns .item i.fa {
    font-size: 22px;
    vertical-align: middle;
    padding: 0px 10px 0px 0px;
    width: 30px;
    text-align: left;
    }

.visible-columns input {
    float: right;
    font-size: 13px;
    font-family: sans-serif;
    padding: 5px;
    }


.my-table .table th .roundIcon {
    font-size: 10px;
    margin-left: 5px;
    margin-top: -1px;
    }



.my-table td {
  line-height: 30px;
  }
.my-table .roundIcon {
  /*margin-right: 5px;*/
  }
  .my-table .roundIcon {
    font-size: 14px;
    }


.sharesIconsColumn {
    width: 170px !important;
    }
.sharesCodeColumn {
    width: 50px !important;
    }


#body .v-filter-editor .moveRight {
    position: absolute;
    padding: 0px;
    right: 0px;
    top: 5px;
    width: auto;
    }


#body .v-filter-editor .moveLeft {
    position: absolute;
    padding: 0px;
    left: 0px;
    top: 5px;
    width: auto;
    }

.right h4>span {font-size: 10px;}
