meta(charset='utf-8')
title blozhik #{title}

base(href="/")

meta(name='viewport', content="width=device-width, initial-scale=1, maximum-scale=1")

link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")



//-  ╔═╗╔╦╗╦ ╦╦  ╔═╗╔═╗
//-  ╚═╗ ║ ╚╦╝║  ║╣ ╚═╗
//-  ╚═╝ ╩  ╩ ╩═╝╚═╝╚═╝

// bower:css
link(rel='stylesheet', href='bower/datatables/media/css/jquery.dataTables.css')
link(rel='stylesheet', href='bower/datatables-scroller/css/dataTables.scroller.css')
link(rel='stylesheet', href='bower/datatables-colvis/css/dataTables.colVis.css')
link(rel='stylesheet', href='bower/datatables-colreorder/css/dataTables.colReorder.css')
link(rel='stylesheet', href='bower/pickmeup/css/pickmeup.css')
// endbower

link(rel="stylesheet", href="/css/motioncss.css")
link(rel="stylesheet", href="/css/motioncss-widgets.css")

link(rel="stylesheet", href="/css/font-awesome.css")
link(rel="stylesheet", href="/css/style.css")
link(rel="stylesheet", href="/css/responsive.css")
link(rel="stylesheet", href="/css/color.css")


//- мои стили
link(rel="stylesheet", href="/css/_myStyle.css")



//-  ╔═╗╔═╗╦═╗╦╔═╗╔╦╗╔═╗
//-  ╚═╗║  ╠╦╝║╠═╝ ║ ╚═╗
//-  ╚═╝╚═╝╩╚═╩╩   ╩ ╚═╝

// bower:js
script(src='bower/jquery/dist/jquery.js')
script(src='bower/datatables/media/js/jquery.dataTables.js')
script(src='bower/datatables-scroller/js/dataTables.scroller.js')
script(src='bower/datatables-colvis/js/dataTables.colVis.js')
script(src='bower/datatables-colreorder/js/dataTables.colReorder.js')
script(src='bower/moment/moment.js')
script(src='bower/lodash/lodash.js')
script(src='bower/pickmeup/js/jquery.pickmeup.js')
script(src='bower/vue/dist/vue.js')
// endbower
//- script(src='https://cdn.rawgit.com/yyx990803/vue/0.11.8/dist/vue.js')
script(type="text/javascript", src="/js/plugins.js")

//- глобальные методы, локализации, etc...
script(type="text/javascript", src="/js/main.js")

//- добавляет поддержку moment в datatables
script(type="text/javascript", src="/js/datatables.moment.patch.js")

//- компиллированные jade шаблоны
script(type="text/javascript", src="/js/jade_templates.js")

//- Vue Components
//- TODO: распихать в страницы, где используется, а не в глобальном хеде
script(type="text/javascript", src="/VueComponents/MyTable.js")
