meta(charset='utf-8')
title #{title}

base(href="/")

meta(name='viewport', content="width=device-width, initial-scale=1, maximum-scale=1")



link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")

//- link(rel="stylesheet", type="text/css", media="all", href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic")
//- link(rel="stylesheet", type="text/css", media="all", href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700")

link(rel="stylesheet", type="text/css", media="all", href="/css/motioncss.css")
link(rel="stylesheet", type="text/css", media="all", href="/css/motioncss-widgets.css")

link(rel="stylesheet", type="text/css", media="all", href="/css/font-awesome.css")
link(rel="stylesheet", type="text/css", media="all", href="/css/rs-settings.css")
link(rel="stylesheet", type="text/css", media="all", href="/css/magnific-popup.css")
link(rel="stylesheet", type="text/css", media="all", href="/css/style.css")
link(rel="stylesheet", type="text/css", media="all", href="/css/responsive.css")
link(rel="stylesheet", type="text/css", media="all", href="/css/animation.css")
link(rel="stylesheet", type="text/css", media="all", href="/css/colors/color_3.css")

//- мои стили
link(rel="stylesheet", type="text/css", media="all", href="/css/_myStyle.css")

<!-- bower:css -->
<!-- endinject -->

<!-- inject:css -->
<!-- endinject -->



script(type="text/javascript", src="/js/jquery-1.9.1.js")
script(type="text/javascript", src="/js/g-alert.js")
script(type="text/javascript", src="/js/jquery.carousello.js")
script(type="text/javascript", src="/js/jquery.flexslider.js")
 
script(type="text/javascript", src="/js/jquery.isotope.js")
script(type="text/javascript", src="/js/jquery.magnific-popup.js")
script(type="text/javascript", src="/js/jquery.parallax.js")
script(type="text/javascript", src="/js/jquery.simpleplaceholder.js")
script(type="text/javascript", src="/js/jquery.smoothScroll.js")
script(type="text/javascript", src="/js/jquery.themepunch.revolution.min.js")
 
script(type="text/javascript", src="/js/plugins.js")
script(type="text/javascript", src="/js/waypoints.min.js")
script(type="text/javascript", src="/js/w-lang.js")
script(type="text/javascript", src="/js/w-search.js")
script(type="text/javascript", src="/js/w-tabs.js")
script(type="text/javascript", src="/js/w-timeline.js")

<!-- bower:js -->
<!-- endinject -->

<!-- inject:js -->
<!-- endinject -->