meta(charset='utf-8')
title #{title ? title+' (бложик с подзаголовком)' : 'blozhik'}

meta(name='viewport', content="width=device-width, initial-scale=1, maximum-scale=1")

link(rel="shortcut icon", type="image/x-icon", href="/favicon.ico")



//-  ╔═╗╔╦╗╦ ╦╦  ╔═╗╔═╗
//-  ╚═╗ ║ ╚╦╝║  ║╣ ╚═╗
//-  ╚═╝ ╩  ╩ ╩═╝╚═╝╚═╝
//- <!-- build:css /css/combined.min.css -->
// bower:css
link(rel='stylesheet', href='/bower_components/datatables/media/css/jquery.dataTables.css')
link(rel='stylesheet', href='/bower_components/datatables-scroller/css/dataTables.scroller.css')
link(rel='stylesheet', href='/bower_components/pickmeup/css/pickmeup.css')
link(rel='stylesheet', href='/bower_components/magnific-popup/dist/magnific-popup.css')
link(rel='stylesheet', href='/bower_components/tooltipster/css/tooltipster.css')
link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.css')
link(rel='stylesheet', href='/bower_components/nvd3/build/nv.d3.css')
// endbower

//- Astra
link(rel="stylesheet", href="/css/Astra/motioncss.css")
link(rel="stylesheet", href="/css/Astra/motioncss-widgets.css")
link(rel="stylesheet", href="/css/Astra/style.css")
link(rel="stylesheet", href="/css/Astra/responsive.css")
link(rel="stylesheet", href="/css/Astra/color.css")

//- глобальные скрипты
link(rel="stylesheet", href="/css/main.css")
//- <!-- endbuild -->




//-  ╔═╗╔═╗╦═╗╦╔═╗╔╦╗╔═╗
//-  ╚═╗║  ╠╦╝║╠═╝ ║ ╚═╗
//-  ╚═╝╚═╝╩╚═╩╩   ╩ ╚═╝
//- cdn
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
//- компиллированные jade шаблоны
script(src="/jade_templates.js")
//- <!-- build:js /js/combined.min.js -->
// bower:js
script(src="/bower_components/datatables/media/js/jquery.dataTables.js")
script(src="/bower_components/datatables-scroller/js/dataTables.scroller.js")
script(src="/bower_components/moment/moment.js")
script(src="/bower_components/pickmeup/js/jquery.pickmeup.js")
script(src="/bower_components/magnific-popup/dist/jquery.magnific-popup.js")
script(src="/bower_components/jquery-cookie/jquery.cookie.js")
script(src="/bower_components/tooltipster/js/jquery.tooltipster.min.js")
script(src="/bower_components/validator-js/validator.js")
script(src="/bower_components/vue/dist/vue.js")
script(src="/bower_components/lodash/lodash.js")
// endbower
//- Astra
script(src="/js/Astra/plugins.js")
script(src="/js/Astra/jquery.smoothScroll.js")

//- добавляет поддержку moment в datatables
script(src="/js/datatables.moment.patch.js")

//- таскалка колонок. Нужна программная часть, но не нужна возможность таскания самим клиентом
//- поэтому немного модифицировал код (искать по // MOD:)
script(src="/js/dataTables.colReorder.modified.js")

//- глобальные методы, локализации, etc...
//- <!-- endbuild -->
script(src="/bower_components/system.js/dist/system.js")
script(src="/js/main.js")
