extends ../layouts/default.jade

block postHead
  script(src='PageControllers/bonds.js' defer)
  script(type="text/javascript", src="/Components/MyTable.js" defer)
  script(type="text/javascript", src="/Components/Learning.js" defer)

  link(rel="stylesheet", href="/css/MyTable.css")

  style.
    #bonds {
      }
      #bonds h1,
      #bonds h3 {
        margin-bottom: 0px;
        }
      #bonds .buttonColumn {
        width: 30px !important;
        text-align: center;
        padding: 3px 5px 3px 0px;
        background-image: none !important;
        }
        #bonds .buttonColumn .roundIcon {
          cursor: pointer;
          font-size: 14px;
          }

    .height-transition {
      overflow: hidden;
      max-height: calc(100vh - 192px);
      }



block pageHead
  h1 Облигации
    i.fa.fa-question-circle.begin-learning.not-mobile
block pageHead_small
block breadcrumbs
  +breadcrumbs([
      {name:'Главная', href:'/'},
      {name:'Сервисы', href:'/services'},
      {name:'Облигации'}
    ])

block content
  .height-transition.no-select
    div#bonds
      #bonds-table
