div#bonds_help
  //- особенности mp
      http://stackoverflow.com/questions/18215477/why-magnific-popup-ajax-box-closes-if-clicked-on-content
  style.
    .mfp-content {
      max-width: 800px;
      background-color: #fff;
      margin: 0px auto;
      padding: 0px 20px 40px 20px;
      text-align: center;
      }
    .mfp-content h3,
    .mfp-content p, 
    .mfp-content ol {
      text-align: left;
      }
    .mfp-content h3 {
      margin-top: 40px;
      }
    .mfp-content ol {
      margin-left: 50px;
      margin-bottom: 20px;
      list-style: initial;
      list-style-type: decimal;
      }
    .mfp-content ol,
    .mfp-content p {
      line-height: 2;
      }
    .mfp-content p {
      margin-bottom: 10px;
      }

  h3 Краткая информация по текущему состоянию на странице
  img(src='/img/services/bonds/help/02_info.jpg')
  ol
    li Сколько времени назад я получил отображенные на странице данные (получаю я их уже не актуальными – биржа отдает с задержкой)
    li Через сколько будет запущено очередное обновление данных
    li Общее количество облигаций на странице
    li Количество облигаций в таблице с примененным фильтром

  h3 Сохраненные фильтры
  p Чтобы применить фильтр нажмите на его название, чтобы «отменить» применение (снять фильтр) – нажмите на него еще раз.
  img(src='/img/services/bonds/help/03_filters.jpg')
  ol
    li Открыть редактор фильтра (об этом ниже)
    li Удалить сохраненный фильтр
    li Не активный (не примененный) фильтр
    li Активный (примененный) фильтр
    li Кнопка добавления нового фильтра

  h3 Редактирование фильтра
  p Для того, чтобы облигация удовлетворяла фильтру должны исполняться все условия одновременно. 
  img(src='/img/services/bonds/help/04_editor.jpg')
  ol
    li Название фильтра (под этим именем он будет в области «сохраненные фильтры»)
    li Выбор параметра для фильтрации
    li Выбор условия фильтрации (для каждого параметра свои условия)
    li Значение фильтрации (тип так же зависит от выбранного параметра)
    li Удаление условия фильтрации
    li Кнопка добавления нового условия
    li Данная кнопка сохраняет текущее состояние редактора как новый фильтр (а не просто обновляет выбранный)
    li Обновляет условия выбранного фильтра
    li Закрывает редактор без сохранения изменений

  h3 Удовлетворяющие условиям облигации
  img(src='/img/services/bonds/help/05_bonds.jpg')
  ol
    li Оставляет только те облигации, в колонках которых встречается поисковый запрос
    li Кнопка для просмотра подробной информации по облигации («калькулятор» - об этом ниже)
    li Кнопка добавления облигации в портфель (увы, пока что не реализовано)

  h3 Калькулятор
  p Зачастую, данные бывают не очень актуальны и, зайдя в терминал, можно увидеть совершенно другие предложения. Для этого и существует калькулятор.
  p Кроме того, с его помощью можно искать облигации, которые на данный момент выгоднее всего продать.
  p Просто измените указанное значение и данные в таблице автоматически изменятся.
  img(src='/img/services/bonds/help/06_calc.jpg')
