include ../mixins/global.jade

div#bonds_help
  //- особенности mp
      http://stackoverflow.com/questions/18215477/why-magnific-popup-ajax-box-closes-if-clicked-on-content
  style.
    .mfp-content {
      max-width: 800px;
      background-color: #fff;
      margin: 0px auto;
      padding: 0px 20px 40px 20px;
      text-align: center;
      }
      .mfp-content .cnt {
        font-size: 18px;
        border: solid 1px #B901AF;
        width: 25px;
        display: inline-block;
        height: 25px;
        line-height: 25px;
        text-align: center;
        border-radius: 30px;
        margin-right: 10px;
        color: #FFF;
        background-color: #B901AF;
        }
      .mfp-content h3,
      .mfp-content p {
        text-align: left;
        }
      .mfp-content h3 {
        margin-top: 40px;
        }
      .mfp-content p {
        margin-bottom: 10px;
        line-height: 30px;
        font-family: Sans-serif; 
        }
  
  h1 Справка
  +separator()

  h3 Краткая информация по текущему состоянию на странице
  img(src='/img/services/bonds/help/02_info.jpg')
  p 
    span.cnt 1
    | Сколько времени назад я получил отображенные на странице данные (получаю я их уже не актуальными – биржа отдает с задержкой)
  p 
    span.cnt 2
    | Через сколько будет запущено очередное обновление данных
  p 
    span.cnt 3
    | Общее количество облигаций на странице
  p 
    span.cnt 4
    | Количество облигаций в таблице с примененным фильтром

  +separator()
  h3 Сохраненные фильтры
  p Чтобы применить фильтр нажмите на его название, чтобы «отменить» применение (снять фильтр) – нажмите на него еще раз.
  img(src='/img/services/bonds/help/03_filters.jpg')
  p 
    span.cnt 1
    | Открыть редактор фильтра (об этом ниже)
  p 
    span.cnt 2
    | Удалить сохраненный фильтр
  p 
    span.cnt 3
    | Не активный (не примененный) фильтр
  p 
    span.cnt 4
    | Активный (примененный) фильтр
  p 
    span.cnt 5
    | Кнопка добавления нового фильтра

  +separator()
  h3 Редактирование фильтра
  p Для того, чтобы облигация удовлетворяла фильтру должны исполняться все условия одновременно. 
  img(src='/img/services/bonds/help/04_editor.jpg')
  p 
    span.cnt 1
    | Название фильтра (под этим именем он будет в области «сохраненные фильтры»)
  p 
    span.cnt 2
    | Выбор параметра для фильтрации
  p 
    span.cnt 3
    | Выбор условия фильтрации (для каждого параметра свои условия)
  p 
    span.cnt 4
    | Значение фильтрации (тип так же зависит от выбранного параметра)
  p 
    span.cnt 5
    | Удаление условия фильтрации
  p 
    span.cnt 6
    | Кнопка добавления нового условия
  p 
    span.cnt 7
    | Данная кнопка сохраняет текущее состояние редактора как новый фильтр (а не просто обновляет выбранный)
  p 
    span.cnt 8
    | Обновляет условия выбранного фильтра
  p 
    span.cnt 9
    | Закрывает редактор без сохранения изменений

  +separator()
  h3 Удовлетворяющие условиям облигации
  img(src='/img/services/bonds/help/05_bonds.jpg')
  ol
  p
    span.cnt 1
    | Оставляет только те облигации, в колонках которых встречается поисковый запрос
  p
    span.cnt 2
    | Кнопка для просмотра подробной информации по облигации («калькулятор» - об этом ниже)
  p
    span.cnt 3
    | Кнопка добавления облигации в портфель (увы, пока что не реализовано)

  +separator()
  h3 Калькулятор
  p Зачастую, данные бывают не очень актуальны и, зайдя в терминал, можно увидеть совершенно другие предложения. Для этого и существует калькулятор.
  p Кроме того, с его помощью можно искать облигации, которые на данный момент выгоднее всего продать.
  p Просто измените указанное значение и данные в таблице автоматически изменятся.
  img(src='/img/services/bonds/help/06_calc.jpg')
